<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse Catalog</title>
    <link rel="stylesheet" href="/css/browse.css">
    <script src="/js/browse.jsx"></script>
</head>
<body>

<!--Search bar-->
<div action="/inventory/update" method="get" class="search-container">
    <!--ISBN bar-->
    <div class="search-form">
        <label>ISBN</label>
        <input type="text" id="isbn" placeholder="Enter ISBN">
    </div>

    <!--Title bar-->
    <div class="search-form">
        <label>Title</label>
        <input type="text" id="title" placeholder="Enter Title">
    </div>

    <!--Author bar-->
    <div class="search-form">
        <label>Author</label>
        <input type="text" id="author" placeholder="Enter Author">
    </div>

    <!--Publisher bar-->
    <div class="search-form">
        <label>Publisher</label>
        <input type="text" id="publisher" placeholder="Enter Publisher">
    </div>
    <button type="button" class="submit-btn" id="submit-btn">Search</button>
</div>

<!--Show list of books-->
<div th.if="${books.size() > 0}}$">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody id="results">
        <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.bookISBN}"></td>
            <td th:text="${book.bookTitle}"></td>
            <td th:text="${book.bookAuthor}"></td>
            <td th:text="${book.bookPublisher}"></td>
            <td th:text="${book.bookDescription}"></td>
        </tbody>
    </table>
</div>

<!--No books found-->
<div th:if="${books.size() == 0}">
    <p>No books available in inventory.</p>
</div>

</body>
</html>