<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Browse Catalog</title>
    <link rel="stylesheet" href="/css/browse.css">
    <link rel="icon" href="/favicon.ico">
</head>
<body>

<header class="top-bar">
    <div class="site-identity">
        <div class="site-icon"> 📚 </div>
        <div class="site-name">
            <a href="/" style="text-decoration: none; color: inherit;">Amazin Online Bookstore</a>
        </div>
    </div>

    <div class="user-info-group">
        <div class="logged-in-as">
            Logged in as: <span id="usernameDisplay" th:text="${username}">Guest User</span>
        </div>
        <button th:if="${client != null and not client.isOwner}" class="purchase-button" id="purchaseBtn" onclick="window.location.href='/checkout'">
            Checkout
        </button>
        <button class="login-button" id="loginLogoutBtn" onclick="window.location.href='/login-register'">
            Login / Register
        </button>
    </div>
</header>

<hr>

<!--Search bar-->
<div action="/inventory/update" method="get" class="search-container">
    <!--ISBN bar-->
    <div class="search-form">
        <label>ISBN</label>
        <input type="text" id="isbn" placeholder="Enter ISBN">
    </div>

    <!--Title bar-->
    <div class="search-form">
        <label>Title</label>
        <input type="text" id="title" placeholder="Enter Title">
    </div>

    <!--Author bar-->
    <div class="search-form">
        <label>Author</label>
        <input type="text" id="author" placeholder="Enter Author">
    </div>

    <!--Publisher bar-->
    <div class="search-form">
        <label>Publisher</label>
        <input type="text" id="publisher" placeholder="Enter Publisher">
    </div>
</div>

<hr>

<!--Show list of books-->
<div th:if="${books.size() > 0}">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>ISBN</th>
            <th>Title</th>
            <th>Picture</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="results">
        <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.bookISBN}"></td>
            <td th:text="${book.bookTitle}"></td>
            <td>
                <img th:src="${book.bookPicture}" width="80" height="100">
            </td>
            <td th:text="${book.bookAuthor}"></td>
            <td th:text="${book.bookPublisher}"></td>
            <td th:text="'$' + ${#numbers.formatDecimal(book.bookPrice, 1, 2)}"></td>

            <td th:text="${book.numBooksAvailableForPurchase}"></td>
            <td th:text="${book.bookDescription}"></td>
            <td>
                <div th:if="${client != null and not client.isOwner}">
                    <button
                            th:id="'addToCart-' + ${book.id}"
                            th:style="${book.numBooksAvailableForPurchase > 0
                   and client.countItemInShoppingCart(book.id) < book.numBooksAvailableForPurchase} ? '' : 'display:none;'"
                            type="button"
                            class="action-button"
                            th:onclick="'addBookToCart(' + ${book.id} + ', ' + ${book.numBooksAvailableForPurchase} + ')'">
                        Add
                    </button>

                    <button
                            th:id="'removeFromCart-' + ${book.id}"
                            th:style="${client.countItemInShoppingCart(book.id) > 0} ? '' : 'display:none;'"
                            type="button"
                            class="action-button"
                            th:onclick="'removeBookFromCart(' + ${book.id} + ', ' + ${book.numBooksAvailableForPurchase} + ')'">
                        Remove
                    </button>
                </div>

                <div th:if="${client != null and client.isOwner}">
                    <button type="button" class="action-button" id="editBook" th:onclick="'editBook(' + ${book.id} + ')'">Edit</button>
                </div>
            </td>
        </tbody>
    </table>
</div>

<!--No books found-->
<div th:if="${books.size() == 0}">
    <p>No books available in inventory.</p>
</div>

<!-- Floating Add Book Button -->
<a th:if="${client != null and client.isOwner == true}" href="/addBook" class="floating-add-button" title="Add Book">
    +
</a>

<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Main JS for Browsing -->
<script src="/js/browse.js"></script>

<!-- JS for the login -->
<script src="/js/index.js"></script>
<script src="/js/login-register.js"></script>

</body>
</html>
