<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>

<header class="top-bar">
    <div class="site-identity">
        <div class="site-icon"> 📚 </div>
        <div class="site-name">
            Amazin Online Bookstore
        </div>
    </div>
    <div class="user-info-group">
        <div class="logged-in-as">
            Logged in as: <span id="usernameDisplay">Guest User</span>
        </div>
        <button class="login-button" id="loginLogoutBtn" onclick="window.location.href='/login-register'">
            Login / Register
        </button>
    </div>
</header>

<hr>

<body>

</body>

</html>